# DO NOT SHOW THIS FILE TO ANYONE! IF YOU ARE GOING TO POST
# YOUR VERSION OF THIS BOT ANYWHERE (like GitHub), MAKE SURE 
# THAT THERE IS A `.env` line IN THE `.gitignore` FILE!
# (in the original bot in .gitignore this line is written by default)

POSTGRES_USER=username
POSTGRES_PASSWORD=secret_pass
POSTGRES_DB=db
POSTGRES_PORT=5432
