# DO NOT SHOW THIS FILE TO ANYONE! IF YOU ARE GOING TO POST
# YOUR VERSION OF THIS BOT ANYWHERE (like GitHub), MAKE SURE 
# THAT THERE IS A `cargo.toml` line IN THE `.gitignore` FILE!
# (in the original bot in .gitignore this line is written by default)

# If you dont know, where you should get required data, read 
# [README.md -> Preparing](https://github.com/Nnenty/steal_stickers_bot?tab=readme-ov-file#preparing).

[bot]
bot_token = ""

[tg_app]
# should be integer number
api_id = 
# should be string
api_hash = ""

[auth]
# enter number without '+'. Example: phone_number = "491721234567"
phone_number = ""
# enter only if you have two-step verification enabled
password = ""

[tracing]
# default
log_level = "debug"

[postgres]
# full URL will looks like: "postgres://{username}:{password}@{host}:{port}/{db}"
username = ""
password = ""
# default
host = "steal_stickers.postgres"
port = "5432"
db = "db"